<html>
  <head>
    <title>Facial Expression Recognition</title>
  </head>

  <body>
  	<h1 align="center" style="background: blue; font-style: bold;">Facial Expressin Recognition</h1>
  	<h2 align="center" style="background: lightblue; font-style: bold;">Made with <span class="heart">❤</span> by <span style="font-style: italic; color: red">Ayoub BERDEDDOUCH</span></h2>



  	<h3 style="background: cyan">This Application Uses Camera feed, 
  		to Print the Facial Expression of the user above the bounding Box of the Face.</h3>
    <img id="bg" width=1200px height=900px src="{{ url_for('video_feed') }}">
  </body>
  <style>.heart{color:#e25555;}</style>
</html>
